<h1>{{ title }}</h1>

<nav>
  <a routerLink="/part02">Part 02</a>
  <a routerLink="/part03">Part 03</a>
  <a routerLink="/part04">Part 04</a>
  <a routerLink="/part05">Part 05</a>
  <a routerLink="/part06">Part 06</a>
  <a routerLink="/part07">Part 07</a>
  <a routerLink="/part08">Part 08</a>
  <a routerLink="/part09">Part 09</a>
  <a routerLink="/part10">Part 10</a>
  <a routerLink="/part11">Part 11</a>
  <a routerLink="/part12">Part 12</a>
  <a routerLink="/part13">Part 13</a>
  <a routerLink="/part14">Part 14</a>
  <a routerLink="/part15">Part 15</a>
  <a routerLink="/part16">Part 16</a>
  <a routerLink="/part17">Part 17</a>
  <a routerLink="/part18">Part 18</a>
  <a routerLink="/part19">Part 19</a>
  <a routerLink="/part20">Part 20</a>
  <a routerLink="/part21">Part 21</a>
  <a routerLink="/part22">Part 22</a>
  <a routerLink="/part23">Part 23</a>
  <a routerLink="/part24">Part 24</a>
  <a routerLink="/part25">Part 25</a>
  <a routerLink="/part26">Part 26</a>
  <a routerLink="/part27">Part 27</a>
  <a routerLink="/part28">Part 28</a>
  <a routerLink="/part29">Part 29</a>
  <a routerLink="/part30">Part 30</a>
  <a routerLink="/part31">Part 31</a>
  <a routerLink="/part32">Part 32</a>
  <a routerLink="/part33">Part 33</a>
  <a routerLink="/part34">Part 34</a>
</nav>

<router-outlet />
