<p>Student portal!</p>

<button (click)="StudentSchoolResult()">Get Result</button>

<button
  id="btnincreaseNumber"
  (click)="increaseNumber()"
  class="btn btn-primary"
>
  Increase Number
</button>
<button
  id="btndecreaseNumber"
  (click)="decreaseNumber()"
  class="btn btn-primary"
  style="margin-left: 10px"
>
  Decrease Number
</button>

<h1>{{ studentResult }}</h1>

<h1 id="countnumber">{{ CountNumber }}</h1>

<h1 id="name">{{ name }}</h1>

<input id="usenum" type="{{type}}" placeholder="{{placeholder}}" />