<p>Student portal!</p>

<button (click)="StudentSchoolResult()">Get Result</button>

<button
  id="btnincreaseNumber"
  (click)="increaseNumber()"
  class="btn btn-primary"
>
  Increase Number
</button>
<button
  id="btndecreaseNumber"
  (click)="decreaseNumber()"
  class="btn btn-primary"
  style="margin-left: 10px"
>
  Decrease Number
</button>

<h1>{{ studentResult }}</h1>

<h1 id="countnumber">{{ CountNumber }}</h1>

<h1 id="name">{{ name }}</h1>

<!--
The value of {{userreadonly}} is a string but readonly property expects a boolean.
So we cannot use interpolation here.
To set a property to a non-string value we must use property binding.
<input id="usenum" type="{{ type }}" placeholder="{{ placeholder }}" readonly="{{userreadonly}}" />
-->

<input id="usenum" type="{{ type }}" placeholder="{{ placeholder }}" [readonly]="userreadonly" />